.masthead {
    /*border-bottom: 1px solid transparent;*/
    text-align: center;
}

.masthead-title a {
    color: #f1c40f;
    text-transform: lowercase;
    font-family: 'Lily Script One', 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.masthead-title a:hover {
    text-decoration: none;
}

.masthead-title small {
    font-weight: bold;
    color: #9a9a9a;
    padding: 0 5px;
    font-size: .7em;
}

.report-button {
    position: absolute;
    top:  .8rem;
    right: 1rem;
    display: block;
    padding: .25rem .75rem;
    color: #505050;
    /*background-color: #f0ad4e;*/
    border-radius: .25rem;
    cursor: pointer;
    border: 1px solid #34495e;
    color: #34495e;
}

.report-button:hover {
    background: #f5f5f5;
    text-decoration: none;
    border-color: #34495e;
}