.masthead {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
    background: url('/public/images/bg.jpg');
    background-position: bottom;
    border-top: 2px solid #f1c40f;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.masthead small {
    color: #fff;
}

.masthead-title a {
    color: #f1c40f;
    text-transform: lowercase;
    font-family: 'Lily Script One', 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
}

.masthead-title a:hover {
    text-decoration: none;
}

.masthead-title small {
    font-weight: bold;
    color: #9a9a9a;
    padding: 0 5px;
    font-size: .7em;
}

.blur {
    width: 100%;
    height: 100%;
    background: orange;
}

.report-button > a {
    border: 1px solid #eee;
    color: #ccc;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    width: 15em;
    border-radius: 4px;
    font-weight: bold;
}

.report-button > a:hover {
    background-color: rgba(238, 238, 238, 0.1);
    text-decoration: none;
}

.post p {
    font-size: .9rem;
    color: #666666;
}

.post-date {
    font-size: .8rem;
    font-style: italic;
}